<div class="fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark pt-0">
    <div class="mx-md-auto ml-auto">
      <a class="navbar-brand position-absolute shadow p-0" href="#">
        <img src="assets/images/logoColors.png" height="150" class="float-left d-block" alt="">
      </a>
      <div class="w-100">
        <button class="navbar-toggler mt-2 float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse pt-3 pb-2 text-right float-right" id="navbarNavDropdown">
        <div class="navbar-nav">
          <a class="nav-item nav-link mx-1 py-1" href="#">{{t "home.title"}}</a>
          <a class="nav-item nav-link mx-1 py-1" href="#about">{{t "about.title"}}</a>
          <a class="nav-item nav-link mx-1 py-1" href="#services">{{t "services.title"}}</a>
          <a class="nav-item nav-link mx-1 py-1" href="#contact">{{t "contact.title"}}</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="contact py-2 px-4 shadow">
    <a href="#devis"><img class="light-blue" src="assets/images/star1.svg" alt="star"/> Demandez un devis gratuit!</a>
  </div>
</div>